@model eBillingSuite.ViewModels.EBCRealTimeAlertsConfigVM
@{
	Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_eConnectorConfigsLayout.cshtml";
}

<script>
	init.push(function () {
		$('#FKInstanceID').change(function () {
			window.location = '@Url.Action("AlertsConfigs", "eConnectorConfigs", new { id = "Guid" })'.replace('Guid', $('#FKInstanceID').find(":selected").val());
		});

		$('input[type="text"]').tooltip();

		$('input[type="text"]').prop("title", "Para indicar mais do que um endereço de email, separe-os por ','. Ex: teste@teste.pt,teste2@teste.pt");
	});
</script>

<form method="post" action="@Url.Action("AlertsConfigs", "eConnectorConfigs", new { ID = Model.FKInstanceID })">
	<div class="panel-heading">
		<span class="panel-title"><i class="panel-title-icon fa fa-calendar"></i>@Texts.eConnectorRealTimeAlertsTitle</span>
	</div> <!-- / .panel-heading -->
	<div class="panel-body">
		<div class="row">
			@Html.PixelAdminSelectWithColFor(e => e.FKInstanceID, Model.AvailableInstances, 8, null, InputOptions.Default, Texts.InstancesList)
		</div>

			@for (int pos = 0; pos < Model.Configs.Count; pos++)
			{
				var ci = Model.Configs[pos];
				@Html.HiddenFor(e => e.Configs[pos].PKID)
				
				if (ci.isSwitcher)
				{
					<div class="row">
						@Html.PixelAdminSwitcherWithColFor(e => e.Configs[pos].Value, 4, null, InputOptions.Default, ci.Text)
					</div>
				}
				else
				{
					<div class="row">
						@Html.PixelAdminTextBoxWithColFor(e => e.Configs[pos].Value, 4, null, InputOptions.Default, ci.Text)
					</div>
				}

			}

	</div>
	<div class="panel-footer text-right">
		<button class="btn btn-primary">@Texts.Submit</button>
	</div>
</form>

