@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	var user = User.Identity as eBillingSuite.Security.IeBillingSuiteIdentity;
	var routeDataValues = Request.RequestContext.RouteData.Values;
	var action = routeDataValues["action"].ToString().ToLower();
}

@section header{
}
<script>
	init.push(function () {
		$('#x-tabs').tabdrop();
	});
</script>
<div>
	<ul id="x-tabs" style="margin-top: 5px;" class="nav nav-tabs">
		@if (user.Permissions.Contains(Permissions.ECONNECTOR_CLIENTES_CLIENTES))
		{
			<li class="@(action == "index" ? "active" : null)">
				<a href="@Url.Action("index", "eConnectorCustomers")">@this.Get(DictionaryEntryKeys.Clientes)</a>
			</li>
		}
		@if (user.Permissions.Contains(Permissions.ECONNECTOR_CLIENTES_CONFIGURACOESXML))
		{
			<li class="@(action == "xmlconfigs" ? "active" : null)">
				<a href="@Url.Action("XmlConfigs", "eConnectorCustomers")">@this.Get(DictionaryEntryKeys.ConfigXml)</a>
			</li>
		}
	</ul>
	<div class="tab-content tab-content-bordered no-padding">
		@RenderBody()
	</div> <!-- / .tab-content -->
</div>
